// @include grid-pad;
//   //display
.main-box {
  // cell outline

  //header settings
  & .header {
    grid-area: header;
    font-size:var(--font-size-1) ; 
  }
  & .display {
    grid-area: display;
  }
  & .c {
    grid-area: c;
  }
  & .minusplus {
    grid-area: minusplus;
  }
  & .zero {
    grid-area: zero;
  }
  & .decimal {
    grid-area: decimal;
  }
}

.c {
  @include grid-c;
  grid-row: 3;
  grid-column: 1 / span 3;
}
.display-box {
  @include grid-display;
  border:none;
  //outline: var(--outline-1);
  direction: ltr;
}