#root {
  & [class^="button"] {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid black;

    &:hover {
    }
  }
}
