@import './pad/pad.scss';
@import './right-panel/right-panel.scss';
.main-box{
@include right-panel-grid-areas;
@include left-panel-grid-areas;
@include pad-grid-areas;
height:100vh;
direction: rtl;
width:100vw;
display: grid;
 grid-template-areas: 'settings header header header i'
'backspace  display display display theme'
'divide c c c history'
'multi 7 8 9 scientific'
'minus 4 5 6 remote'
'plus 1 2 3  space1'
'equals decimal zero minusplus space2'
'equals space3 space3 space3  space2';
grid-template-columns: 1fr repeat(3, 1.5fr) 1fr;
grid-template-rows: 0.2fr repeat(6,1fr) 0.7fr;
}