@import "./main-end/main-end.scss";
@import "./main-start/main-start.scss";
.main-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  max-width: 400px;;
  grid-template-areas:
    "a b b b c"
    "d e e e f"
    "g h h h i"
    "j k l m n"
    "o p q r s"
    "t u v w x"
    "y z aa ab ac"
    "y ad ad ad ac";
  grid-template-columns: 1fr repeat(3, 1.5fr) 1fr;
  grid-template-rows: 0.5fr repeat(6, 1fr) 0.5fr;
  background-color: var(--color-blue-1);
  column-gap: 0.2rem;
  row-gap: 0.2rem;;
  // display area----->
  & .light{
    background-color:var(--color-white-1) ;
  }
  & .dark{
    background-color: var(--color-black-2);
    color:var(--color-white-1)
  }
  & .display-box{

    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
     padding:0.6rem;
     align-items: flex-end;
    font-family:var(--font-family-1);
    & .previous-operand{
      font-size: 1rem;
    }
    & .current-operand{
      font-size:2rem;
    }
  }
  & div[grid-area="a"] {
    grid-area: a;
  }
  & div[grid-area="b"] {
    grid-area: b;
  }
  & div[grid-area="c"] {
    grid-area: c;
  }
  & div[grid-area="d"] {
    grid-area: d;
  }
  & div[grid-area="e"] {
    grid-area: e;
  }
  & div[grid-area="f"] {
    grid-area: f;
  }
  & div[grid-area="g"] {
    grid-area: g;
  }
  & div[grid-area="h"] {
    grid-area: h;
  }

  & div[grid-area="i"] {
    grid-area: i;
  }
  & div[grid-area="j"] {
    grid-area: j;
  }
  & div[grid-area="k"] {
    grid-area: k;
  }
  & div[grid-area="l"] {
    grid-area: l;
  }
  & div[grid-area="m"] {
    grid-area: m;
  }
  & div[grid-area="n"] {
    grid-area: n;
  }
  & div[grid-area="o"] {
    grid-area: o;
  }
  & div[grid-area="p"] {
    grid-area: p;
  }
  & div[grid-area="q"] {
    grid-area: q;
  }
  & div[grid-area="r"] {
    grid-area: r;
  }
  & div[grid-area="s"] {
    grid-area: s;
  }
  & div[grid-area="t"] {
    grid-area: t;
  }
  & div[grid-area="u"] {
    grid-area: u;
  }
  & div[grid-area="v"] {
    grid-area: v;
  }
  & div[grid-area="w"] {
    grid-area: w;
  }
  & div[grid-area="x"] {
    grid-area: x;
  }
  & div[grid-area="y"] {
    grid-area: y;
  }
  & div[grid-area="z"] {
    grid-area: z;
  }
  & div[grid-area="aa"] {
    grid-area: aa;
  }
  & div[grid-area="ab"] {
    grid-area: ab;
  }
  & div[grid-area="ac"] {
    grid-area: ac;
  }
  & div[grid-area="ad"] {
    grid-area: ad;
  }
  & div[grid-area="ae"] {
    grid-area: ae;
  }
  & div[grid-area="af"] {
    grid-area: af;
  }
  & div[grid-area="ag"] {
    grid-area: ag;
  }
  & div[grid-area="ah"] {
    grid-area: ah;
  }

}
