@import './pad/pad.scss';
@import './main-end/main-end.scss';
@import './main-start/main-start.scss';
.main-box{
    //positioning
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
direction: rtl;
display: grid;
 grid-template-areas: 'settings header header header i'
'backspace  display display display theme'
'divide c c c history'
'multi 7 8 9 scientific'
'minus 4 5 6 remote'
'plus 1 2 3  space1'
'equals decimal zero minusplus space2'
'equals space3 space3 space3  space2';
grid-template-columns: 1fr repeat(3, 1.5fr) 1fr;
grid-template-rows: 0.5fr repeat(6, minmax(20px, 1fr)) 0.5fr;
}