.main-box{
    & .i{
        grid-area: i;
    }
    & .theme{
        grid-area: theme;
    }
    & .history{
        grid-area: history;
    }
    & .scientific{
        grid-area: scientific;
    }
    & .remote{
        grid-area: remote;
    }
    & .space1{
        grid-area: space1;
    }
    & .space2{
        grid-area: space2;
    }
    & .space3{
        grid-area: space3;
    }
}